.carousel {
  height: 75%;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  display: flex;
  margin-top: 0;
  font-size: 120px;
  z-index: 10;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}


.carousel-control i{
	align-self: center;
	font-size: 60px;
}



.carousel-inner{
  text-align: center;
  position: relative;
}


.carousel .item {
  height: 550px;
}

.murakami {
  display:block;
  max-height: 100%;  
  max-width: 100%; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  z-index: 3;
}

.art {
  display:block;
  max-height: 100%;  
  max-width: 100%; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  z-index: 3;
}



.caption {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  bottom:100%;
  padding: 15px;
  font-size: 25px;
  max-width: 450px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(100,100,100,.75);
  border: thin solid black;
  border-radius: 25px;
  z-index: 5;
}



.btn-read {
    color: #fff;
    margin-top: 450px;
    position: relative;
    padding: 15px;
    font-size: 25px;
    z-index: 4;
}

