@font-face {
  font-family: "share-bold";
  src: url("fonts/shareBoldFont.eot");
  src: url("fonts/shareBoldFont.eot?#iefix") format("embedded-opentype"), url("fonts/shareBoldFont.woff") format("woff"), url("fonts/shareBoldFont.ttf") format("truetype"), url("fonts/shareBoldFont.svg#share-bold") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: "share-tech";
  src: url("fonts/shareTechFont.eot");
  src: url("fonts/shareTechFont.eot?#iefix") format("embedded-opentype"), url("fonts/shareTechFont.woff") format("woff"), url("fonts/shareTechFont.ttf") format("truetype"), url("fonts/shareTechFont.svg#share-tech") format("svg");
  font-style: normal;
  font-weight: normal; 
}

* {
  font-family: "share-tech"; }


.jumbotron{
    background-image: url(../img/portfolio/toejamReflection.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}

/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}



.navbar {
    margin-bottom: 0;
}

hr.big-orange {
  width: 90%;
  margin: 0px 0px 10px 0px;

  border-style: solid;
  border-color: #fb9b2b;
  border-width: 7px 0 0;
  border-radius: 7px; 
}

#map {
  position: relative;
    width: 350px;
    height: 350px;
}


#contactLinkContainer{
  display: inline-block;
  flex-direction: row; 
  justify-content: flex-start;
}
     

ul{
  list-style: none;
}

h4{
  font-size: 25px;
}


.btn, .btn-read{
  background-color: #fb9b2b;
  border-color: #d58512;
}

.btn:hover, .btn-read:hover{
  background-color: #E08A26;
  border-color: #BA7511;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #fb9b2b

}

.exTitle{
  color: #fb9b2b;
}


.link{
  margin-left: -10%;
}

.link a{
  font-size: 35px;
  color: #fb9b2b;
}

a:hover {
  text-decoration: none;
}

hr{
  margin: 20px;
}

.skill{
  width: 25px;
}

#email{
  margin-left: 20px;
}




